body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100vw; /* Set width to 100% of viewport width */
    height: 100vh; /* Set height to 100% of viewport height */
    overflow: hidden;
  }